<div class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" [routerLink]="['/']">Recipes_Book</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ng5wpk-navbar-collapse" aria-controls="ng5wpk-navbar-collapse"
	    aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="ng5wpk-navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="">
					Home
				</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="/recipes">
					Recipes
				</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" [routerLink]="['sl']">
					Shopping List
				</a>
			</li>
			<ng-template [ngIf]="!authService.isAuthenticated()">
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" routerLink="/signup">Register</a>
				</li>
				<li class="nav-item" routerLinkActive="active">
					<a class="nav-link" routerLink="/signin">Login</a>
				</li>
			</ng-template>
			<li class="nav-item" *ngIf="authService.isAuthenticated()">
				<a class="nav-link" (click)="onLogout()">
					Logout
				</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown" *ngIf="!authService.isAuthenticated()">
				Need login to fetch Data
			</li>
			<li class="nav-item dropdown" *ngIf="authService.isAuthenticated()">
				<a class="nav-link dropdown-toggle" id="ng5wpk-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Save/Fetch
				</a>
				<div class="dropdown-menu" aria-labelledby="ng5wpk-dropdown">
					<a class="dropdown-item" (click)="onSaveData()">
						Save Data
					</a>
					<a class="dropdown-item" (click)="onFetchData()">
						Fetch Data
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
